@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:regular,bold,italic&subset=japanese');

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  background-color: transparent
}

*::-webkit-scrollbar-track {
  background-color: transparent
}

*::-webkit-scrollbar-thumb {
 
  background-color: transparent
}

/* Works on Firefox */
* {
  background-color: transparent
}
